@page "/categories"
@inherits ListCategoriesPage

<MudText Typo="Typo.h3">Categorias</MudText>

<div class="d-flex justify-end">
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.Material.TwoTone.Add"
        OnClick="@OpenNewCategoryDialog">
        Nova Categoria
    </MudButton>
</div>

<MudDataGrid
    Class="mt-4"
    Items="@Categories"
    Filterable="true"
    Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Filtro</MudText>
        <MudSpacer/>
        <MudTextField 
            Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Immediate="true"
            IconSize="Size.Medium"
            Class="mt-0"
            Placeholder="Digite o termo filtrado..." 
            @bind-Value="SearchTerm"/>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#"/>
        <PropertyColumn Property="x => x.Title" Title="Categoria"/>
        <TemplateColumn>
            <CellTemplate>
                <div class="d-flex justify-end">
                    <MudStack Row>
                        <MudIconButton
                            Icon="@Icons.Material.Filled.Edit"
                            Href="@($"/categorias/editar/{context.Item.Id}")"
                            Color="Color.Primary"/>
                        <MudIconButton
                            Icon="@Icons.Material.Filled.Delete"
                            Color="Color.Error"
                            aria-label="Excluir"
                            OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)"/>
                    </MudStack>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>