<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="Stock - Controle de Estoque" width="100"/>
</div>

<MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Início</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Inventory2" Href="/products">Produtos</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.LocationOn" Href="/locations">Locais de Estoque</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Warehouse" Href="/estoque">Estoque</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Category" Href="/categories">Categorias</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Logout" Href="/logout">Sair</MudNavLink>
</MudNavMenu>